html body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;  
    display: grid;
    justify-content: center;
    grid-template-columns: 80%;
    grid-template-rows: 100%;
    text-align: center;
    background-color: whitesmoke;
    overflow: hidden;
}

            /* for mobile in landscape mode */

            /* game container  */

@media screen and (max-height: 450px) {
    .gameContainer {
        display: grid;
        width: 20vw;
        height: 80%;
        grid-template-columns: 20%;
        grid-template-rows: 5% 65%;
        grid-template-areas: 
                    "head"
                    "game";    
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media screen and (min-height: 451px) {
    .gameContainer {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 20% 78%;
        grid-template-areas: 
                    "head"
                    "game";    
        justify-content: center;
        align-content: center;
        grid-gap: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .gameContainer {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 20% 78%;
        grid-template-areas: 
                    "head"
                    "game";    
        justify-content: center;
        align-content: center;
        text-align: center;
    }
}

@media screen and (min-width: 501px) {
    .gameContainer {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 60%;
        grid-template-rows: 5% 90%;
        grid-template-areas: 
                    "head"
                    "game";    
        justify-content: center;
        align-content: center;
        text-align: center;
    }
}

.TTT::before {
    content: "";
    position: absolute;
    background: rgba(0, 80, 100, .5);
    top: 65%;
    left: 5%;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) skewX(25deg) rotateX(5deg) scale(1.155, .25);
    filter: blur(1em) grayscale(40%);
}

/* tic tac toe logo */
.Tac {
    color: rgb(51, 172, 202);
    text-align: center;
}

.text{
    z-index: 5;
    grid-area: 'head';
    justify-self: center;
    align-self: start;
    position: relative;
}


h1 {
    text-align: center;
    color: whitesmoke;
    font-family: Avenir Next;
    height: 45px;
    width: 320px;
    box-shadow: 0px 0px 8px rgb(0, 80, 100);
    border-radius: 5px;
    background-color: #005064;
    text-shadow: inset 2px 5px black;
}

/* game board table  */

@media screen and (max-width: 500px) {
    .TTT {
        outline: 0px transparent;
        border: 0px transparent;
        margin-top: 0px;
        grid-area: 'game';
        width: 350px;
        height: 350px;
        justify-self: center;
        color: white;
        font-size: 56px;
        font-family: Avenir Next;
        position: relative;
    }
}
@media screen and (min-width: 501px) {
    .TTT {
        
        outline: 0px transparent;
        border: 0px transparent;
        margin-top: 20px;
        grid-area: 'game';
        width: 450px;
        height: 450px;
        justify-self: center;
        color: white;
        font-size: 56px;
        font-family: Avenir Next;
        position: relative;

    }
}

/* game board spaces */

tr {
    background-color: rgb(0, 80, 100);

    height: 147px;
    width: 147px;
    outline: transparent;
    border: transparent;
}

td {
    background-color: rgb(0, 80, 100);

    height: 147px;
    width: 147px;
    outline: transparent;
    border: transparent;
}



/* selection text-styles */

p {
    color: white;

}

